 /* ---------------Top Parent Styling--------------- */

.quiz-container-widgets {
    color: #000000 ;
    position: relative ;
    max-width: 1000px ;
    width: fit-content;
    background: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 16px auto;
    clear: both;
    margin-top: 24px ;
    padding: 0px ;
    overflow: hidden;

    /* ---------------Global font styles Styling--------------- */
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;     /* If  you want to overwrite font-size, then make sure to overwrite line-height as per your need */
}

 /* ---------------Heading Styling--------------- */

.quiz-plugin-heading-text {
    position: relative;
    z-index: 10;
    width: 100%;
    margin-bottom: 0px ;
    box-sizing: border-box;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #000000;
    padding-top: 0px ;
    padding-right: 10px ;
    padding-bottom: 8px ;
    padding-left: 20px ;
}

.quiz-heading-bg {
    height: calc(100% - 18.5px);
    width: 100%;
    background-image: url(https://aleemescanor.github.io/poll-script/assets/img/Clone.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.quiz-heading-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.quiz-plugin-name {
    background: linear-gradient(to right, #01afcb, #1184dd);
    clip-path: polygon(10% 0%, 90% 0%, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
    padding: 8px 21px;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
}

.quiz-title-animation {
    position: absolute;
    z-index: 10;
    width: 25%;
    height: 200%;
    background-color: rgba(255, 255, 255, 0.5);
    right: 0;
    bottom: 0;
    top: 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: transform 1s, opacity 1s;
}

.quiz-plugin-name h2 {
    color: #ffffff;
    font-size: 16px ;
    font-family: inherit;
    margin: 0px ;
}

.quiz-section-heading {
    padding-top: 10px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-section-heading-text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.quiz-section-heading-text h3 {
    font-family: inherit;
    color: #ffffff;
    font-size: 20px ;
    margin: 0px ;
}

.quiz-sub-heading a {
    font-size: 14px ;
    color: #ffffff;
    margin: 0px ;
    text-decoration: none ;
}

.quiz-section-heading-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 70px;
    max-height: 70px;
    margin: 0px ;
}
.lazyloaded {
    opacity: 1;
    transition: opacity 400ms;
    transition-delay: 0ms;
}

img {
    vertical-align: middle;
}

 /* ---------------Quiz Content Styling--------------- */

 .quiz-content-wrapper {
    position: relative;
    max-width: fit-content;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-color: #f3f9f9 ;
    border-width: 1px ;
    border-color: #000000 ;
    display: flex;
    gap: 16px;
    padding: 20px;
}

@media screen and (max-width: 991px) {
    .quiz-content-wrapper {
        flex-direction: column;
    }
}

.quiz-content-wrapper::before {
    content: '';
    background: #fff ;
    position: absolute ;
    left: -12px ;
    top: -13px ;
    z-index: 30 ;
    rotate: 135deg ;
    padding: 12px 12px ;
    width: auto ;
    height: auto ;
}

.quiz-content-wrapper::after {
    content: '';
    background: #fff;
    position: absolute;
    right: -12px;
    top: -13px;
    z-index: 30;
    rotate: 135deg;
    padding: 12px 12px;
}

.quiz-widget-wrapper-content {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 36px;
}

.quiz-box {
    box-sizing: border-box;
    overflow: hidden;
}

.quiz-question {
    margin-bottom: 14px ;
    font-size: 18px ;
    color: #000000 ;
    font-weight: bold ;
    font-style: italic ;
}

.quiz-option {
    margin-bottom: 18px;
    margin-top:  20px;
    padding: 8px 14px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: relative;
    font-size: 14px ;
    color: #1623df;
    border: 1px solid #000000;
    background-color: #ffffff;
    line-height: 25px;;
    cursor: pointer;
}

.quiz-option:hover {
    background-color: #e8e8e8;
}

submit-btn-container {
    margin-top: 20px;
    display: flex;
}

button.submit-quiz-btn {
    padding: 11px 25px ;
}
.submit-quiz-btn {
    font-size: 16px ;
    background-color: #00dcc2;
    color: #000000;
    font-family: inherit ;
    border-radius: 100px ;
    border: none ;
    cursor: pointer;
}

.submit-quiz-btn:hover {
    color: #fff;
    background-color: #2e7e9f;
}

 /* ---------------Advertisement Styling--------------- */
 .quiz-ad-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 50%;
    min-width: fit-content;
    overflow: hidden;
}

@media screen and (max-width: 767px) {
    .quiz-ad-container {
        max-width: 100%;
    }
}


@media screen and (max-width: 767px) {
    .quiz-widget-wrapper-content {
        flex-direction: column;
    }
}
